<?js
var data = obj;
var self = this;
?>
<hr>
<dt class="name" id="<?js= id ?>">
    <h4 id="<?js= id ?>" style="color: inherit"><?js= (this.navOptions.hideAttribs ? '' : data.attribs) + name + (data.signature ? data.signature : '') ?></h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data && data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js if (data && data.type && data.type.names) {?>
        <?js if (this.navOptions.detailsSameLine) {?>
            <h5>
                <span style="font-weight: bold">Type: </span>
                <span style="font-weight: normal"><?js= self.partial('type.tmpl', data.type.names) ?></span>
            </h5>
        <?js } else { ?>
            <h5>
                Type: <?js= self.partial('type.tmpl', data.type.names) ?>
            </h5>
        <?js } ?>    
    <?js } ?>    

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
