<?js
    var datas = obj;
    var data = datas[0];

    /* determine if we need extra columns, "attributes" and "default" */
    data.hasAttributes = false;
    data.hasDefault = false;
    data.hasName = false;

    
    if (!data) { return; }

    if (data.optional || data.nullable || data.variable) {
        data.hasAttributes = true;
    }

    if (data.name) {
        data.hasName = true;
    } else if (data.description && (data.description.search(" - ") != -1)) {
        data.name = data.description.substr(0, data.description.indexOf(" "));
        data.name = data.name.substr(data.description.indexOf(">") + 1);
        data.hasName = true;
    }

    if (typeof data.defaultvalue !== 'undefined') {
        data.hasDefault = true;
    }

    if (data.description) {
        data.hasDescription = true;
    }

?>

<table class="params table table-striped">
    <thead>
    <tr>
        <?js if (data.hasName) {?>
        <th>Name</th>
        <?js } ?>

        <th>Type</th>

        <?js if (data.hasAttributes) {?>
        <th>Argument</th>
        <?js } ?>

        <?js if (data.hasDefault) {?>
        <th>Default</th>
        <?js } ?>

        <?js if (data.hasDescription) {?>
        <th class="last">Description</th>
        <?js } ?>
    </tr>
    </thead>

    <tbody>
    <?js
        var self = this;
        if (!data) { return; }
    ?>

        <tr>
            <?js if (data.hasName) {?>
                <td class="name"><code><?js= data.name ?></code></td>
            <?js } ?>

            <td class="type">
            <?js if (data.type && data.type.names) {?>
                <?js= self.partial('type.tmpl', data.type.names) ?>
            <?js } ?>
            </td>

            <?js if (data.hasAttributes) {?>
                <td class="attributes">
                <?js if (data.optional) { ?>
                    &lt;optional><br>
                <?js } ?>

                <?js if (data.nullable) { ?>
                    &lt;nullable><br>
                <?js } ?>

                <?js if (data.variable) { ?>
                    &lt;repeatable><br>
                <?js } ?>
                </td>
            <?js } ?>

            <?js if (data.hasDefault) {?>
                <td class="default">
                <?js if (typeof data.defaultvalue !== 'undefined') { ?>
                    <?js= self.htmlsafe(data.defaultvalue) ?>
                <?js } ?>
                </td>
            <?js } ?>

            <?js if (data.hasDescription) {?>
            <td class="description last">
            <?js if (data.description && (data.description.search(" - ") != -1)) {?>
                <?js= data.description.substr(data.description.indexOf(" - ") + 3) ?>
            <?js } else { ?>
                <?js= data.description ?>
            <?js } } ?>

        </tr>
    </tbody>
</table>
