<?js
    var data = obj;
    var self = this;
    data.forEach(function(name, i) {         
        let type = self.linkto(name, self.htmlsafe(name));
        let pos = 0;
        while (type.includes("Array", pos) || type.includes("Promise", pos)) {
            let index = type.indexOf(".", pos);
            if (index !== -1) {
                type = type.replace(".","");
                pos = index;
            } else {
                break;
            }
        }
    ?>
<code class="param-type"><?js= type ?></code>
<?js if (i < data.length-1) { ?>|<?js } ?>
<?js }); ?>
